<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
    <div class="form-group">
      <div class="form-group input email">
        <%= f.email_field :email, { class: 'form-control', placeholder: 'E-mail', autofocus: true } %>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group input password">
        <%= f.password_field :password, { class: 'form-control', placeholder: 'Senha' } %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Log in", { class: 'btn btn-lg btn-success btn-block' } %>
    </div>
  </fieldset>
<% end %>

<%= render "users/shared/links" %>